.mynavbarlogo {
    font-size: 2.5rem;
    font-family: 'Playfair Display', serif;
}

.mynavbarlink {
    font-size: 1.8rem;
    font-family: 'Source Sans 3', sans-serif;
}

.myaboutheader {
    font-size: 2.5rem;
    font-family: 'Playfair Display', serif;
}

.myabout {
    font-size: 1.8rem;
    font-family: 'Source Sans 3', sans-serif;
}

/* font-family: 'Playfair Display', serif;
font-family: 'Source Sans 3', sans-serif; */