@import 'https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Playfair+Display:400,400i,700,700i,900,900i';


h1 {
    font-family: 'Playfair Display', serif;
    font-size: 80px;
    line-height: 70px
}

h4 {
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
    position: relative;
    font-weight: 700;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 24px;
}

.size-50 {
    font-size: 50px;
    line-height: 50px
}

.h-50 {
    height: 50px;
}